/*CURTAIN TOOL*/
#CurtainToolList {
  display: flex;
}
#CurtainToolList > div {
  cursor: pointer;
  padding-right: 10px;
  font-size: 18px;
  color: #bbb;
  transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#CurtainToolList > div:hover {
  color: white;
}
#CurtainToolList > div.active {
  color: white;
  font-weight: bold;
}

/*Search Tool*/
.searchToolSelect {
  width: 188px;
}


/*ESESES CHART TOOL*/
.site-table {
    border: solid 1px rgb(70, 70, 70);
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 12px;
}
.site-table tbody td {
    border: solid 1px #DDEEEE;
    color: #fff;
    padding: 3px;
    background-color: rgb(40, 40, 40);
}