doctype html
head
  title MGViz ESESES Help
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
  link(rel='shortcut icon' href='../resources/LandingPage/TheSnagwazzleM1_WSmall_Icon.png')
  style.
    @font-face {
    font-family: venus;
    src: url("../public/fonts/venus-rising/Venus-Rising-Regular.ttf");
    }
    @font-face {
    font-family: roboto;
    src: url("../public/fonts/roboto/Roboto-Regular.ttf");
    }
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }
    body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: #222222;
    user-select: none;
    }
    #main-container {
    width: 100%;
    height: 100%;
    animation: fadein 3.5s;
    }
    .background {
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: 100% auto;
    }
    #top {
    width: 100%;
    height: 90px;
    }
    #middle {
    width: 100%;
    height: 100px;
    }
    #bottom {
    width: 100%;
    height: 50%;
    }
    #title {
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    padding-left: 4px;
    color: #c9d5de;
    }
    #message {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: #eee;
    padding-top: 20px;
    }
    #button {
    text-align: center;
    width: 100%;
    }
    #link {
    text-decoration: none;
    font-family: monospace;
    color: #444;
    border-bottom: 1px solid rgba(68,68,68,0);
    transition: border-bottom 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    #link:hover {
    border-bottom: 1px solid rgba(68,68,68,1);
    }
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }
#main-container.background
  #top
    #title MGViz - ESESES
  #middle
    #message The landing page displays a map view with the location of seismology measurement sites, major/recent earthquakes, and a reference map.
    <img id="landing" src="Missions/ESESES/Images/Landing.png" alt="Map View" class="center">
    #message You can zoom in and out of the map by scrolling or using the + and - buttons in the top-right corner.
    #message You can pan around the map by clicking and dragging.
    #message You can hover over markers on the map to see more information.
    #message Clicking on a seismology site marker will open up a tool for viewing more information about that site.
    #message
    #message The buttons on the left will open various tools and links.
    <img id="help" src="Missions/ESESES/Images/Help.png" alt="Help Buttons" class="center">
    #message The four buttons in the lower-left do the following (from top to bottom):
    #message 1. Copy a link of the website to share. The currently shown data layers will persist.
    #message 2. View the application in full screen.
    #message 3. Open a link to the project web site.
    #message 4. Open a link to this Help page.
    #message
    #message The buttons on the top-left will open unique tools.
    <img id="layers" src="Missions/ESESES/Images/Layers.png" alt="Layers Tool" class="center">
    #message The Layers tool presents a list of several data layers to display on the map.
    #message Several layers, including Sites, are activated by default.
    #message Velocities may be activated to show arrows denoting the direction and magnitude of motion.
    #message Earthquakes contains options to view different categories of historical earthquakes.
    #message Reference layers contains labels and features that may be overlaid on base maps without that information.
    #message Geological Features can be activated to show U.S. or global geological features.
    #message Base Maps contains several reference maps that appear on the bottom of all the layers. Activate one at a time for best results.
    #message
    <img id="search" src="Missions/ESESES/Images/Search.png" alt="Search Tool" class="center">
    #message The Search tool allows you to zoom-to and select sites by ID or location.
    #message You can switch between Site and Distance options.
    #message The Distance option allows you to enter either a Site ID or latitude, longitude (e.g. 33, -117) or D째 M' S" N/S D째 M' S" E/W (e.g. 34째 7' 50.4012" N 117째 0' 0" W) along with a search radius in km.
    #message Found sites can be zoomed into (Go), selected (i.e. bring up the Chart tool for selected sites), or both.
    #message
    <img id="chart" src="Missions/ESESES/Images/Chart.png" alt="Chart Tool" class="center">
    #message The Chart tool allows you visualize and explore the time series data capture at each site.
    #message The button in the top-right corner of each chart will allow you to export the data to various formats, print, or view in full screen mode. 
    #message You can change the type of time series data via the Source, Filter, and Type options.
    #message Checking the North, East, and Up boxes will activate a chart for each direction.
    #message The vertical line denoting offsets (cosesimic and non-coseismic) can be deactivated. Offsets aren't shown when multiple sites are selected.
    #message Stack On Charts allows for multiple sites to be plotted on the same chart continuously.
    #message Holding control or command on the keyboard while picking multiple sites in the Selected column will also plot multiples sites on the chart.
    <img id="multisite" src="Missions/ESESES/Images/Multisite.png" alt="Chart Tool - Multiple Sites" class="center">
    #message Use Stack Separation to increase the displacement between multiple sites so that the points don't overlap. Hit Apply to update the charts.
    #message Additional sites can be loaded by adding a Site Code or double clicking from the list of All Sites.
    #message The Append Site Selection determines whether or not to aggregate sites on the map and in the list. This is helpful to turn off if viewing sites one at a time.
    <img id="exportsites" src="Missions/ESESES/Images/ExportSites.png" alt="Chart Tool - Export Sites" class="center">
    #message To export the list of sites, replace "Default Group" with a name for the selection and then click Export Selected to save to a file.
    #message Use Load Saved Sites to reload a saved list of sites.
    #message Use Clear Selected to start from a fresh list.
    <img id="siteinfo" src="Missions/ESESES/Images/SiteInfo.png" alt="Chart Tool - Site Info" class="center">
    #message Click on Show Site Info in the top-left corner of the tool to view additional metadata for each site.
    #message You can expand some fields by clicking on the blue headers.
    #message The charts may be hidden by clicking on Hide Charts at the top of the tool.
    #message The site info may be hidden by clicking on Hide Site at the top-left corner of the tool.
    <img id="velocities" src="Missions/ESESES/Images/Velocities.png" alt="Velocities Tool" class="center">
    #message The Velocities Tool will allow you to customize the parameters of the the Velocities layer.
    #message You can change the source, direction, display criteria, and add visual exaggeration.
    <img id="velocitiesup" src="Missions/ESESES/Images/VelocitiesUp.png" alt="Velocities Tool - Vertical" class="center">
    #message Vertical velocities may also be visualized by the tool.
#bottom
footer
  script.
